<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  ServerName drupal-10
  ServerAlias www.drupal-10
  ErrorLog error_log/error.log
  CustomLog custom_log/access.log combined
  DocumentRoot "/var/www/drupal-10/web"
</VirtualHost>